{% extends "base_email.html" %}
{% block title %}Reset your password – Prisma Support{% endblock %}
{% block content %}
<div class="greeting">Hello {{ user_name }},</div>

<div class="intro-text">
  We received a request to reset the password for your Prisma Support account. Use the button below to set a new password.
</div>

<p style="margin: 16px 0;">
  <a href="{{ web_reset_url }}" class="btn-primary">Reset your password</a>
</p>

<div class="reminders-box">
  <div class="contact-title">Important</div>
  <div class="contact-text">
    This link expires in {{ expires_in }} and can only be used once. If you didn't request a reset, you can ignore this email.
  </div>
</div>

<div class="contact-box">
  <div class="contact-title">Need help?</div>
  <div class="contact-text">
    Contact us at <a href="mailto:support@prismavalet.com" class="contact-link">support@prismavalet.com</a>
  </div>
</div>

<div class="closing">
  <div class="signature">
    Best regards,<br />
    <span class="signature-name">The Prisma Support Team</span>
  </div>
</div>
{% endblock %}
